<div class="news-card card">
    <div class="card-header">
        <div class="content">
            {% if post.thumbnail %}
            <div class="thumbnail">
                <img src="{{ post.thumbnail }}" alt="{{ post.thumbnail_alt }}">
            </div>
            {% endif %}
            <div class="text">
                <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title}}</span></a>
                <span class="card-header-date">{{ post.date | date: "%B %d, %Y"}} </span>
            </div>
        </div>
    </div>
    <div class="card-content">
            {{ post.content | truncatewords: 50 }}
    </div>
</div>