<div class="card">
    <!-- Show image if available -->
    {% if post.image %}
    <div class="card-image">
        <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <p class="card-header-title">{{ post.date | date: "%b %Y:"}} &nbsp;
        <a href="{{post.url}}">
            <span class="has-text-primary">{{ post.title}}</span></p>
        </a>
    </header>
    {% endif %}
    <div class="card-content">
            {{ post.excerpt }}
    </div>
</div>