@import "_tokens.scss";

.navbar {
    background: linear-gradient(to right, #155799 0%, #159957 100%) !important;

    .navbar-brand {
        .navbar-item {
            color: white;
            font-weight: 700;
            font-size: 1.875rem;
        }
    }
    .navbar-item {
        position: relative;
        margin: auto 5px;
        height: 40px;

        &:hover {
            cursor: pointer;
        }
    }
    .nav-link {
        padding: 10px;
        color: white;
        font-weight: 400;
    }

    &-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    @media screen and (min-width: 1024px) {
        height: 100px;
        .navbar-item {
            display: flex;
            justify-content: center;
            padding: 0px 10px;

            &-disc { // Add a disc before each nav item
                height: 3px;
                width: 3px;
                background-color: rgba(255,255,255,0.33);
                border-radius: 100%;
                position: absolute;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:first-of-type {
                .nav-item-disc {
                    display: none;
                }
            }

            .nav-link {
                margin: auto;
                padding: 0px;
            }
        }
    }

    .link-underline-animate { // Add an underline animation to the nav links
        position: relative;
        &:before {
            content: "";
            position: absolute;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: white;
            bottom: 0px;
            width: 0%;
            transition: width 100ms ease-out;
        }

        &:hover {
            color: white;
            text-decoration: none;
            position: relative;

            &:before {
                width: 100%;
            }
        }
    }
}