---
layout: default
show_sidebar: false
---

<div class="people-page-container">
  <div class="page-header-container">
    {{ page.content }}
  </div>

  <div class="page-body-container">
    <!-- {% assign grouped_people = site.people | group_by: "position_category" %} -->
    {% assign sorted_people = site.people | sort: page.sort %}

    {% for person in sorted_people %}
    <div class="person-container" data-person="{{ person.name }}">
      {% if person.image %}
      <div class="person-card">
        <div class="image-container">
          <img src="{{ person.image }}" alt="{{ person.name }}" />
        </div>
        <div class="person-information">
          <p class="title">{{ person.person_title }}</p>
          <p class="subtitle">{{ person.subtitle }}</p>
          <p class="professional_title">{{ person.professional_title }}</p>
          {% comment %} <a class="read-more" href="{{ person.id }}">Read more</a> {% endcomment %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
