---
layout: default
show_sidebar: false
---

<div class="people-page-container">
  <div class="page-header-container">
    {{ page.content }}
  </div>

  <div class="page-body-container">
    {% assign sorted_products = site.products | sort:page.sort %}

    {% for product in sorted_products %}
    <div class="person-container">
      {% if product.image %}
      <div class="person-card">
        <div class="image-container">
          <img src="{{ product.image }}" alt="{{ product.name }}" />
        </div>
        <div class="person-information">
          <p class="title">{{ product.title }}</p>
          <p class="subtitle">{{ product.subtitle }}</p>
          <p class="professional_title">{{ product.professional_title }}</p>
          {% comment %} <a class="read-more" href="{{ product.id }}">Read more</a> {% endcomment %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
